<footer>
    <div class="footer-custom">
    <div class="footer-left">
        <div class="footer-logo">
            <img src="" alt="">
            <a href="/"><h3>for a kinder world</h3></a>
        </div>
        <form action="">
            <label for="subscribe">subscribe and get our latest news</label>
            <input type="text" id="subscribe" name="subscribe" placeholder="Email Address" required>
            <input type="submit" value=">">
        </form>
    </div>
    <div class="footer-right">
        <div class="social-media">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div class="footer-contacts">
            <h5>contact us</h5>
            <p>phone numbers</p>
            <p>addresses</p>
        </div>
        
    </div>
    </div>
    <div class="footer-links">
        <ul>
            <li><a href="">copyrights</a></li>
            <li><a href="">terms</a></li>
            <li><a href="">the other version</a></li>
            <li><a href="/about">about us</a></li>
        </ul>
    </div>

</footer>