<div id="navbar">
    <div class="site-title">
        <a href="/"><h3>For A Kinder World</h3></a>
    </div>
    <div class="table-buttons">
        <div class="dropdown">
            <button class="dropdown-btn">about us</button>
            <div class="dropdown-content">
                <a href="#">Mission and Vision</a>
                <a href="#">our team</a>
                <a href="#">Disclamer</a>
                <a href="#">Endorsment</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropdown-btn">why diet</button>
            <div class="dropdown-content">
                <a href="#">Education</a>
                <a href="#">Outreach</a>
                <a href="#">News</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropdown-btn">our researches</button>
            <div class="dropdown-content">
                <a href="#">Diet Research</a>
                <a href="#">Envrionment Research</a>
                <a href="#">Health Research</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropdown-btn">activities</button>
            <div class="dropdown-content">
                <a href="#">Multimedia</a>
                <a href="#">Newsletter</a>
                <a href="#">Posts</a>
            </div>
        </div>
    </div>
    <div class="donate">
        <button>donate us</button>
    </div>
</div>
<!-- <div id="sticky-nav">
    <div id="icon">
        <a href="/"><h3>For A Kinder World</h3></a>
    </div>
    <ul>
        <li><a href="/about">about us</a></li>
        <li><a href="/diet">why diet</a></li>
        <li><a href="/researches">our researches</a></li>
        <li><a href="/activities">activities</a></li>
    </ul>
</div> -->