<div id="navbar">
    <div class="site-title">
        <a href="/"><h3>For A Kinder World</h3></a>
    </div>
    <ul>
        <li><a href="/about">about us</a></li>
        <li><a href="/diet">why diet</a></li>
        <li><a href="/researches">our researches</a></li>
        <li><a href="/activities">activities</a></li>
    </ul>

    <button>donate us</button>

</div>
<div id="sticky-nav">
    <div id="icon">
        <a href="/"><h3>For A Kinder World</h3></a>
    </div>
    <ul>
        <li><a href="/about">about us</a></li>
        <li><a href="/diet">why diet</a></li>
        <li><a href="/researches">our researches</a></li>
        <li><a href="/activities">activities</a></li>
    </ul>
</div>