@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
body{
    max-width: 90%;
    height: 5000px;
    background-color: #f2f2f2;
    margin:0 auto;
    font-family: 'Noto Sans JP', sans-serif;
    position: relative;
  }


#navbar {display: flex; width: 100%; background-color:#fff; border-bottom: 3px solid #eee;justify-content: space-between;text-transform: uppercase;z-index:100;}
#navbar .site-title{width:7%; text-align: center; margin:0.5rem auto; margin-left: 5rem;}
#navbar .site-title a{font-size: 0.7rem; text-decoration: none;}
#navbar .table-buttons{display: flex; width:50%; justify-content: space-between; margin:1.5rem auto;}
#navbar .dropdown-btn{background-color: inherit;font-weight: 700;font-size:1rem;text-transform: uppercase;border: none;}
#navbar .dropdown-btn:hover{color: #0e87cc; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
#navbar .dropdown-content {display: none;position: absolute; background-color: #fff;min-width: 10rem; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);z-index: 101;}
#navbar .dropdown-content a{padding:0.7rem 1rem; color:#000;text-decoration: none;display:block; text-align: left;}
#navbar .dropdown-content a:hover{background-color:#ddd;}
#navbar .donate{margin: 1rem auto; margin-right: 3rem;}
#navbar .donate button{border:none; padding:0.5rem 1.2rem;text-transform: uppercase; color:#fff;font-weight:500;font-size:1rem;background-color:#FFB056;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 5px;}


footer{padding-bottom:10px; background-color: #bfefff8c;width: 100%;}
.footer-custom {display: flex; justify-content: center;text-transform: uppercase; padding:10px;}
footer h3{display: inline-block; font-size:25px; font-weight:600; letter-spacing: 0.2rem; text-decoration: none;}
footer ul{list-style: none;}
.footer-left{width: 53%;display: block;margin: 30px; margin-bottom: 0px;}
.footer-left label{display: block;color:#0e87cc; font-size:20px; margin-bottom:10px;}
.footer-left input{border: 2px solid #BEBEBE; background: transparent; box-sizing: border-box;margin:0; font-size:15px;padding:5px;}
.footer-left input[type=text]{width: 55%;}
.footer-logo {justify-content: start; margin-bottom: 15px;}
.footer-logo img {border: 1px solid #ddd; width: 25px; height: 25px;}
.footer-right{width: 43%;margin: 15px;}
.social-media {display:block; margin-right: 100px;float:right;}
.social-media img {border: 1px solid #ddd; width: 20px; height: 20px;margin-left:2px}
.footer-contacts {margin-top: 40px;}
.footer-links {display: flex; justify-content:center;margin-top: 10px;}
.footer-links ul{align-items: flex-end;}
.footer-links li{position: relative; float:left;}
.footer-links ul a {font-size: 10px; font-weight: 600; margin-right:20px; text-decoration: none; text-transform: uppercase; }


.index-banner {position: relative; text-align: center;width: 100%;}
.banner-title {position: absolute;width:80%;top:40%; left:10%}
.index-banner img{opacity: 0.5; }
.index-banner h1{text-transform: uppercase; color:#00CFFF; text-align: center;}
.index-banner p{text-transform: capitalize;text-align: center; margin-top:1%;}

.news-banner {display: flex; justify-content: space-between; border: 1px solid #eee; height: 300px;background-color: #f2f2f2;}
.news-abstract {width: 50%; height:100%; padding: 2%;}
.news-abstract h3{text-transform: uppercase; text-align: center;margin-top: 15%;}
.news-abstract p{text-transform: capitalize;text-align: left; margin-top:5px;}
.news-banner img{ height: 100%;display: inline-block;}

.container-odd{background-color: #fff;}
.container-even{background-color: #f2f2f2;}
.banner-container {display: block; text-align: center; width: 100%; height: auto;}
.banner-container .header{width: 100%; text-transform: uppercase; color:#00CFFF; padding-top: 10%;}
.banner-container .content{text-transform: capitalize;text-align: left; margin-top:2%; padding-bottom: 10%;padding-left:3%; padding-right: 2%;}