<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>

    <%- include('./partials/nav.ejs') %> 

    <div class="banner-container container-odd">
        <div class="header">
            <h3>background</h3>
        </div>
        <div class="content">
            <p>For a Kinder World is a non-profit organization founded in YEAR by Dr. Malcolm H. Pope and Nick Panagiotacopulos, with the purpose of creating a humane and sustainable world for all life forms on earth.</p>
        </div>
    </div>

    <div class="banner-container container-even">
        <div class="header">
            <h3>motivation</h3>
        </div>
        <div class="content">
            <p>Disease, environmental disintegration and social upheaval seem to be the story of human life on earth. Because eating habits, our health and the environment are interconnected aspects of our lives, For A Kinder World was created to address these issues, ultimately creating a better future for each and every one of us. </p>
        </div>
    </div>

    <div class="banner-container container-odd">
        <div class="header">
            <h3>mision and vision</h3>
        </div>
        <div class="content">
            <p>For a Kinder World is dedicated to academic research, community outreach and the education of individuals about the interconnections of eating habits, human health and the environment.</p>
            <p>Creating a Kinder world that is humane and sustainable, where we coexist in an actively benign environment with the power to achieve good health.</p>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %> 


</body>
</html>