<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>

    <%- include('./partials/nav.ejs') %> 

    <div class="banner-container">
        <div class="header">
            <h3>background</h3>
        </div>
        <div class="content">
            <p>For a Kinder World is a non-profit organization founded in YEAR by Dr. Malcolm H. Pope and Nick Panagiotacopulos, with the purpose of creating a humane and sustainable world for all life forms on earth.</p>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %> 


</body>
</html>