<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>

    <%- include('./partials/nav.ejs') %> 

    <div class="banner">
        <h1>Mission and vision</h1>
    </div>

    <%- include('./partials/footer.ejs') %> 


</body>
</html>