<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>

    <%- include('./partials/nav.ejs') %> 

    <div class="banner">
        <h1>for a kinder world</h1>
        <p>Mission Statement</p>
    </div>
    <div class="news-banner">
        <div class="news-abstract">
            <h3>news subtitle</h3>
            <p>introduction</p>
        </div>
        <img src="" alt="">
    </div>

    <%- include('./partials/footer.ejs') %> 


</body>
</html>