<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>

    <%- include('./partials/nav.ejs') %> 

    <div class="index-banner">
        <img src="images/index-banner.jpg" alt="index-banner" width="100%">
        <div class="banner-title">
            <h1>for a kinder world</h1>
            <p>For a Kinder World is dedicated to academic research, community outreach and the education of individuals about the interconnections of eating habits, human health and the environment.</p>
        </div>
    </div>
    <div class="news-banner">
        <div class="news-abstract">
            <h3>news subtitle</h3>
            <p>introduction</p>
        </div>
        <img src="" alt="">
    </div>

    <%- include('./partials/footer.ejs') %> 


</body>
</html>