<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>

    <%- include('./partials/nav.ejs') %> 

    <div class="news-banner">
        <div class="news-abstract">
            <h3>news subtitle</h3>
            <p>introduction</p>
        </div>
        <img src="" alt="">
    </div>
    <div class="news-banner">
        <div class="news-abstract">
            <a href="/research"><h3>news subtitle</h3></a>
            <p>introduction</p>
        </div>
        <img src="" alt="">
    </div>
    <div class="news-banner">
        <div class="news-abstract">
            <h3>news subtitle</h3>
            <p>introduction</p>
        </div>
        <img src="" alt="">
    </div>
    <div class="news-banner">
        <div class="news-abstract">
            <h3>news subtitle</h3>
            <p>introduction</p>
        </div>
        <img src="" alt="">
    </div>

    <%- include('./partials/footer.ejs') %> 


</body>
</html>